<footer class="border-top">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="footer-widget mb10">
                        <h4 class="widget-title">@Resource.ContactUs</h4>
                        <ul class="widget-contact">
                            <li><strong>@Resource.Address:</strong> 56 King Street, New York</li>

                            <li><strong>@Resource.Email:</strong> support@bshop.com</li>

                            <li><strong>@Resource.Phone:</strong> +1 964 123 456789</li>
                        </ul>
                    </div>
                    <div class="social-media mb25">
                        <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a><a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a><a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a><a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="footer-widget mb25">
                        <h4 class="widget-title">@Resource.QuickLinks</h4>
                        <ul class="widget-list">
                            <li><a target="_self" href="/privacy-policy">@Resource.PrivacyPolicy</a></li>
                            <li><a target="_self" href="/terms-and-conditions">@Resource.TermsAndConditions</a></li>
                            <li><a target="_self" href="/purchasing-policy">@Resource.PurchasingPolicy</a></li>
                            <li><a target="_self" href="/cookie-policy">@Resource.CookiePolicy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="footer-widget mb25">
                        <h4 class="widget-title">@Resource.Company</h4>
                        <ul class="widget-list">
                            <li><a target="_self" href="/about-us">@Resource.AboutUs</a></li>
                            <li><a target="_self" href="/career">@Resource.Career</a></li>
                            <li><a target="_self" href="/affiliate">@Resource.Affiliate</a></li>
                            <li><a target="_blank" href="https://api.whatsapp.com/send/?phone=@($"{Resource.BShop_PhoneNumber.Replace("+","").Replace(" ","")}")&amp;text=Hello+I+have+a+query&amp;app_absent=0">@Resource.ContactUs</a></li>
                        </ul>
                    </div>
                </div>
                <FooterSubscribe />
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copy-right">
                        @Resource.Copyright © @(DateTime.UtcNow.ToLocalTime().Year). @Resource.AllRightsReservedBy <a href="#">bShop</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="payment-method">
                        <img src="imgs/payment.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
