<Fluxor.Blazor.Web.StoreInitializer />

<CascadingAuthenticationState>
    <CascadingBlazoredModal AnimationType="ModalAnimationType.FadeInOut" HideHeader="true" ContentScrollable="true" Position="ModalPosition.Middle" Size="ModalSize.Medium">
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingBlazoredModal>
</CascadingAuthenticationState>
