@using bShop.Localization;
@using bShop.Shared.Models.Orders
@inject IToastService ToastSrv

@* <div class="register">
    <h4>@Resources.OrderTracking</h4>
    <p>@Resources.TrackingYourOrderStatus</p>

    <EditForm Model="Model" OnValidSubmit="Track">
        <DataAnnotationsValidator />
        <ShopValidation @ref="AppValidation" />

        <div class="form-group">
            <InputText @bind-Value="@Model.OrderNo" class="form-control" placeholder="@Res" />
            <ValidationMessage For="@(() => Model.OrderNo)" />
        </div>

        <div class="form-group">
            <InputText @bind-Value="@Model.Password" type="password" class="form-control " placeholder="Password" />
            <ValidationMessage For="@(() => Model.Password)" />
        </div>

        <div class="tw_checkbox checkbox_group">
            <InputCheckbox @bind-Value="@Model.RememberMe" id="remember" type="checkbox" />
            <label for="remember">Remember me</label>
            <span></span>
        </div>

        @if (AppState.Value.Loading)
        {
            <button class="btn theme-btn full disabled"><SpinnerGrow Color="Colors.Light" Size="Sizes.Small" Text="@Resources.LogingIn" Align="Align.Center" /></button>
        }
        else
        {
            <button class="btn theme-btn full">@Resources.Login</button>
        }
    </EditForm>

    <h3><a @onclick="Reset">Forgot your password?</a></h3>
    <h3><a @onclick="Register">Sign up for an account?</a></h3>
</div>
 *@
@code {
    // [Parameter] public OrderTranckRequestVM Model { get; set; } = new() { OrderNo = "ORD-7313221", Email = "hermannturkk225@gmail.com", };
    // [CascadingParameter] public IModalService ModalSrv { get; set; } = default!;
    // [CascadingParameter] public BlazoredModalInstance Modal { get; set; } = default!;
    // ShopValidation AppValidation = default!;

    // async void Reset() =>
    //     await Modal.CloseAsync(ModalResult.Cancel(nameof(LoginModal.Reset)));

    // async void Register() =>
    //     await Modal.CloseAsync(ModalResult.Cancel(nameof(LoginModal.Register)));

    // async void Track()
    // {
    //     try
    //     {
    //         var errors = new Dictionary<string, List<string>>();

    //         if (errors.Any())
    //             AppValidation?.DisplayErrors(errors);
    //         else
    //         {
    //             Dispatcher.Dispatch(new UpdateLoadingStateAction(true));
    //             var response = await AuthSrv.LoginAsync(Model);
    //             Dispatcher.Dispatch(new UpdateLoadingStateAction(false));
    //             if (response.IsSuccess)
    //             {
    //                 ToastSrv.ShowSuccess(Resources.UserLoginSucceeded);
    //                 await Modal.CloseAsync(ModalResult.Ok());
    //             }
    //             else
    //             {
    //                 if (response.HasErrors(ApiResultErrorType.UnAuthorized))
    //                     errors.Add(nameof(RegisterRequestVM.UserName), [Resources.UserLoginFailed]);
    //                 else if (response.HasErrors(ApiResultErrorType.UserLocked))
    //                     errors.Add(nameof(RegisterRequestVM.UserName), [Resources.UserLocked]);
    //                 else if (response.HasErrors(ApiResultErrorType.UserNeedEmailActivation))
    //                     errors.Add(nameof(RegisterRequestVM.UserName), [Resources.UserNeedEmailActivation]);
    //                 else if (response.HasErrors(ApiResultErrorType.UserNotActive))
    //                     errors.Add(nameof(RegisterRequestVM.UserName), [Resources.UserNotActive]);
    //                 else if (response.HasErrors(ApiResultErrorType.UserRequiresTwoFactor))
    //                     errors.Add(nameof(RegisterRequestVM.UserName), ["Two factor code is not ready yet."]);

    //                 AppValidation?.DisplayErrors(errors);
    //             }
    //         }
    //     }
    //     catch (Exception ex)
    //     {
    //         ToastSrv.ShowError(ex.InnerMessage());
    //         Dispatcher.Dispatch(new UpdateLoadingStateAction(false));
    //     }
    // }
}