@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using System.Resources
@using System.Globalization
@using bShop.Client.Store.LoadingState
@using bShop.Shared.Models.Users
@inject AuthenticationService AuthSrv
@inject IState<LoadingState> AppState
@inject IToastService ToastSrv
@inject IDispatcher Dispatcher
@inject IJSRuntime JS

<div class="register">
    <h4>Reset Password</h4>
    <p>Enter your email address below and we will send you a link to reset your password</p>

    <EditForm Model="Model" OnValidSubmit="Reset">
        <DataAnnotationsValidator />
        <ShopValidation @ref="AppValidation" />

        <div class="form-group">
            <InputText @bind-Value="@Model.NewPassword" type="password" class="form-control" placeholder="New passord..." />
            <ValidationMessage For="@(() => Model.NewPassword)" />
        </div>

        <div class="form-group">
            <InputText @bind-Value="@Model.ConfirmPassword" type="password" class="form-control" placeholder="New password..." />
            <ValidationMessage For="@(() => Model.ConfirmPassword)" />
        </div>

        @if (AppState.Value.Loading)
        {
            <button class="btn theme-btn full disabled"><SpinnerGrow Color="Colors.Light" Size="Sizes.Small" Text="@Resources.ResetPassword" Align="Align.Center" /></button>
        }
        else
        {
            <button class="btn theme-btn full">@Resources.ChangePassword</button>
        }
    </EditForm>
</div>

@code {
    [Parameter] public ResetPasswordRequestVM Model { get; set; } = new();
    [CascadingParameter] public IModalService ModalSrv { get; set; } = default!;
    [CascadingParameter] public BlazoredModalInstance Modal { get; set; } = default!;
    ShopValidation AppValidation = default!;

    async void Reset()
    {
        try
        {
            var errors = new Dictionary<string, List<string>>();

            if (errors.Any())
                AppValidation?.DisplayErrors(errors);
            else
            {
                Dispatcher.Dispatch(new UpdateLoadingStateAction(true));
                var response = await AuthSrv.ResetPasswordAsync(Model);
                Dispatcher.Dispatch(new UpdateLoadingStateAction(false));
                if (response.IsSuccess)
                    await Modal.CloseAsync(ModalResult.Ok());
                else if (response.HasErrors(ApiResultErrorType.InvalidLink))
                {
                    await Modal.CloseAsync(ModalResult.Cancel());
                    await JS.MessageBox(Resources.InvalidLink);
                }
                else if (response.HasErrors(ApiResultErrorType.InvalidModel))
                {
                    errors.Add(nameof(ResetPasswordRequestVM.NewPassword), response.Errors);
                    AppValidation.DisplayErrors(errors);
                }
                else
                    ToastSrv.ShowError(response.ErrorsMessage);
            }
        }
        catch (Exception ex)
        {
            ToastSrv.ShowError(ex.InnerMessage());
            Dispatcher.Dispatch(new UpdateLoadingStateAction(false));
        }
    }
}
