<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="banner-item mb25">
                    <div class="banner-item-img">
                        <img src="imgs/products/product-5.jpg" alt="@Resource.New">
                    </div>
                    <div class="banner-item-info">
                        <h2>@Resource.New</h2>
                        <h4>@Resource.Collection</h4>
                        <a class="btn theme-btn" href="#">@Resource.ShopNow</a>
                    </div>
                </div>
                <div class="banner-item mb25">
                    <div class="banner-item-img">
                        <img src="imgs/products/product-4.jpg" alt="@Resource.Hot">
                    </div>
                    <div class="banner-item-info">
                        <h2>@Resource.Hot</h2>
                        <h4>@Resource.Collection</h4>
                        <a class="btn theme-btn" href="#">@Resource.ShopNow</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="banner-item mb25">
                    <div class="banner-item-img">
                        <img src="imgs/products/product-1.jpg" alt="@(string.Format(Resource.OfferBy, $"{10:p0}"))">
                    </div>
                    <div class="banner-item-info">
                        <h2>@(string.Format(Resource.OfferBy, $"{10:p0}"))</h2>
                        <h4>No Selected Models</h4>
                        <a class="btn theme-btn" href="#">@Resource.ShopNow</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="banner-item mb25">
                    <div class="banner-item-img">
                        <img src="imgs/products/product-2.jpg" alt="@Resource.New">
                    </div>
                    <div class="banner-item-info">
                        <h2>@Resource.New</h2>
                        <h4>@Resource.Arrivals</h4>
                        <a class="btn theme-btn" href="#">@Resource.ShopNow</a>
                    </div>
                </div>
                <div class="banner-item mb25">
                    <div class="banner-item-img">
                        <img src="imgs/products/product-3.jpg" alt="@Resource.Hot">
                    </div>
                    <div class="banner-item-info">
                        <h2>@Resource.Hot</h2>
                        <h4>@Resource.Offer</h4>
                        <a class="btn theme-btn" href="#">@Resource.ShopNow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
